root = false

[*]
charset = utf-8
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
end_of_line = unset
insert_final_newline = true
max_line_length = 120

# JavaScript, TypeScript, JSON and YAML
[{*.js{,x},*.ts{,x},*.json{,p,5},*.y{,a}ml,.*rc}]
indent_style = space
indent_size = 2

# Configurations and properties
[{*.properties,.*config,*.conf,.env{,.*}}]
indent_style = space
indent_size = 2
