{
  "extends": [
    "react-app",
    "airbnb-typescript"
  ],
  "rules": {
    "react/jsx-props-no-spreading": [
      "warn",
      {
        "html": "enforce",
        "custom": "ignore",
        "explicitSpread": "ignore"
      }
    ],
    "no-param-reassign": [
      "warn",
      {
      "props": false
      }
    ]
  }
}
